TheRevenge.SDD/TheRevenge.SOAPTest/Service References/ServiceTipoDoc/TiposDocService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipo_Documento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipo_Documento" nillable="true" type="tns:Tipo_Documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipo_Documento" nillable="true" type="tns:ArrayOfTipo_Documento" />
  <xs:complexType name="Tipo_Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Tipo_Doc" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo_Documento" nillable="true" type="tns:Tipo_Documento" />
</xs:schema>