TheRevenge.SDD/TheRevenge.SOAPTest/Service References/ServiceTipoDoc/TiposDocService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13558/TiposDocService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" />
  <xs:element name="listarTipo_Documento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTipo_DocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" minOccurs="0" name="listarTipo_DocumentoResult" nillable="true" type="q1:ArrayOfTipo_Documento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>