trunk/TheRevenge.SDD/TheRevenge.SOAPTest/Service References/ServiceEstadoCita/EstadoCitasService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEstadoCita">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadoCita" nillable="true" type="tns:EstadoCita" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadoCita" nillable="true" type="tns:ArrayOfEstadoCita" />
  <xs:complexType name="EstadoCita">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Val_Estado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoCita" nillable="true" type="tns:EstadoCita" />
</xs:schema>