trunk/TheRevenge.SDD/TheRevenge.SOAPTest/Service References/ServiceCmp/CmpesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cmp">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCmp" type="xs:int" />
      <xs:element minOccurs="0" name="TxDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TxDoc_Identidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cmp" nillable="true" type="tns:Cmp" />
  <xs:complexType name="ArrayOfCmp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cmp" nillable="true" type="tns:Cmp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCmp" nillable="true" type="tns:ArrayOfCmp" />
</xs:schema>