trunk/TheRevenge.SDD/TheRevenge.SOAPTest/Service References/ServicePaciente/PacientesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13558/PacientesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" />
  <xs:element name="crearPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" minOccurs="0" name="_paciente" nillable="true" type="q1:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="crearPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" minOccurs="0" name="crearPacienteResult" nillable="true" type="q2:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdPaciente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" minOccurs="0" name="consultarPacienteResult" nillable="true" type="q3:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" minOccurs="0" name="_paciente" nillable="true" type="q4:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" minOccurs="0" name="actualizarPacienteResult" nillable="true" type="q5:Paciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdPaciente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarPacienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPaciente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" minOccurs="0" name="listarPacienteResult" nillable="true" type="q6:ArrayOfPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>