trunk/TheRevenge.SDD/TheRevenge.SOAPTest/Service References/ServicePaciente/PacientesService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Paciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_Paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Nac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Paciente" type="xs:int" />
      <xs:element minOccurs="0" name="Id_Tipo_Doc" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nro_Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paciente" nillable="true" type="tns:Paciente" />
  <xs:complexType name="ArrayOfPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paciente" nillable="true" type="tns:Paciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaciente" nillable="true" type="tns:ArrayOfPaciente" />
</xs:schema>