TheRevenge.SDD/TheRevenge.SOAPTest/Service References/ServiceCmp/CmpesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CmpesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13558/CmpesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13558/CmpesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13558/CmpesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICmpesService_crearCmp_InputMessage">
    <wsdl:part name="parameters" element="tns:crearCmp" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_crearCmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:crearCmpResponse" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_consultarCmp_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarCmp" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_consultarCmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarCmpResponse" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_actualizarCmp_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarCmp" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_actualizarCmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarCmpResponse" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_eliminarCmp_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCmp" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_eliminarCmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCmpResponse" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_listarCmp_InputMessage">
    <wsdl:part name="parameters" element="tns:listarCmp" />
  </wsdl:message>
  <wsdl:message name="ICmpesService_listarCmp_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarCmpResponse" />
  </wsdl:message>
  <wsdl:portType name="ICmpesService">
    <wsdl:operation name="crearCmp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpesService/crearCmp" message="tns:ICmpesService_crearCmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpesService/crearCmpResponse" message="tns:ICmpesService_crearCmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarCmp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpesService/consultarCmp" message="tns:ICmpesService_consultarCmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpesService/consultarCmpResponse" message="tns:ICmpesService_consultarCmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCmp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpesService/actualizarCmp" message="tns:ICmpesService_actualizarCmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpesService/actualizarCmpResponse" message="tns:ICmpesService_actualizarCmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCmp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpesService/eliminarCmp" message="tns:ICmpesService_eliminarCmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpesService/eliminarCmpResponse" message="tns:ICmpesService_eliminarCmp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarCmp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICmpesService/listarCmp" message="tns:ICmpesService_listarCmp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICmpesService/listarCmpResponse" message="tns:ICmpesService_listarCmp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICmpesService" type="tns:ICmpesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearCmp">
      <soap:operation soapAction="http://tempuri.org/ICmpesService/crearCmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarCmp">
      <soap:operation soapAction="http://tempuri.org/ICmpesService/consultarCmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCmp">
      <soap:operation soapAction="http://tempuri.org/ICmpesService/actualizarCmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCmp">
      <soap:operation soapAction="http://tempuri.org/ICmpesService/eliminarCmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarCmp">
      <soap:operation soapAction="http://tempuri.org/ICmpesService/listarCmp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CmpesService">
    <wsdl:port name="BasicHttpBinding_ICmpesService" binding="tns:BasicHttpBinding_ICmpesService">
      <soap:address location="http://localhost:13558/CmpesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>