trunk/TheRevenge.SDD/TheRevenge.SOAPTest/Service References/ServiceMedico/MedicosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TheRevenge.Data.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Medico">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_Paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cmp" nillable="true" type="tns:Cmp" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="tns:Especialidad" />
      <xs:element minOccurs="0" name="IdMedico" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nro_Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo_Documento" nillable="true" type="tns:Tipo_Documento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medico" nillable="true" type="tns:Medico" />
  <xs:complexType name="Cmp">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCmp" type="xs:int" />
      <xs:element minOccurs="0" name="TxDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TxDoc_Identidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cmp" nillable="true" type="tns:Cmp" />
  <xs:complexType name="Especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_Especialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Especialidad" nillable="true" type="tns:Especialidad" />
  <xs:complexType name="Tipo_Documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Tipo_Doc" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo_Documento" nillable="true" type="tns:Tipo_Documento" />
  <xs:complexType name="ArrayOfMedico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medico" nillable="true" type="tns:Medico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedico" nillable="true" type="tns:ArrayOfMedico" />
</xs:schema>